.scroll-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    .card {
        display: inline-block;
        padding-top: 0.5rem;
        padding-bottom: 1rem;
    }

    .card.active {
        background-color: aqua;
    }
}