<!DOCTYPE HTML>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <title>PlusOne</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/flatly/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-dc511usETkt5R6evFzyWPo3GCQkG+8t+K2KZ9TUeGbisOmqJGXf4j8fLCRoK9r1N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/style/main.css">
    <script src="https://maps.googleapis.com/maps/api/js<%= htmlWebpackPlugin.options.gMapKey %>"></script>
    <script src="https://apis.google.com/js/api.js"></script>
</head>

<body>
    <div id="admin" class="body"></div>

    <!-- Dependencies -->
    <script crossorigin src="https://unpkg.com/react@16/umd/react.<%= htmlWebpackPlugin.options.reactMode %>.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.<%= htmlWebpackPlugin.options.reactMode %>.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.bundle.min.js" integrity="sha384-CS0nxkpPy+xUkNGhObAISrkg/xjb3USVCwy+0/NMzd5VxgY4CMCyTkItmy5n0voC"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.min.js" crossorigin></script>
</body>

</html>