<!DOCTYPE HTML>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <title>PlusOne</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/flatly/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-dc511usETkt5R6evFzyWPo3GCQkG+8t+K2KZ9TUeGbisOmqJGXf4j8fLCRoK9r1N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">

    <script src="https://www.gstatic.com/firebasejs/5.5.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.3/firebase-auth.js"></script>    
    <script src="https://apis.google.com/js/api.js"></script>

</head>

<body>
    <div id="root"></div>

    <!-- Dependencies -->
    <script crossorigin src="https://unpkg.com/react@16/umd/react.<%= htmlWebpackPlugin.options.reactMode %>.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.<%= htmlWebpackPlugin.options.reactMode %>.js"></script>

</body>

</html>