

@font-face {
    font-family: 'CaviarDreams';
    src: url('splash/font-style/CaviarDreams.ttf');    
}

@font-face {
    font-family: 'LemonMilk';
    src: url('splash/font-style/LemonMilk.otf');
}

body {
    background: url('./splash/image-style/splash-background-desktop.jpg') no-repeat;
    background-size: 100% 100%;
    height: 100vh;   

}

.font-caviardreams {
    font-family: CaviarDreams;
}

.font-caviardreams input {
    font-weight: 600;
}

.font-lemonmilk {
    font-family: LemonMilk;
}

#root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.container {   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.container > * {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container .logo {
    width: 162px;
    height: 170px
}

.btn-start {
    padding: 10px 40px;
    border-radius: 40px 40px;

    font-size: 1.5em;

    text-transform: uppercase;

}

.btn-facebook {
    background-color: #4267b2;
    color: #eee;
}

*.line-center > span { 
    margin: 0;
    padding: 0 10px;
    display: inline-block;    
    background-color: rgba(47, 54, 64, 0.7);
}

*.line-center {
    
    text-align:center;
    position:relative;
    z-index:2 ;
    
}

*.line-center:after {
    content:"";
    position:absolute;
    top:50%;
    left:0;
    right:0;
    border-top:solid 1px #afafaf;
    z-index:-1 !important;
}


@media screen and (max-width: 560px) {
    body {
        background: url('./splash/image-style/splash-background-phone.jpg') no-repeat;
        background-size: 100% 100%;     
    }

    .container {
        height: 100%;
    }

    .container .logo {
        width: 142px;
        height: 150px;
    }

    h1.quote {
        font-size: 2em;
    }

    .btn-start {
        font-size: 1em;
    }
}

@media screen and (max-width: 321px) {    
    
    h1.quote {
        font-size: 1.5em;
    }
}

.btn-danger {
    background-color: #ed1e24;
}