@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap');
div.landing-container {


    width : 100vw;
    height : 100vh;

    position: relative;

    padding : 0px;
    margin : 0px;

    overflow : hidden;


    div.container-button {

        position : absolute;
        width : 10%;
        height : 100%;

        z-index : 99;

        font-size : 1.2em;

    }

    div.background-dark-blur {

        z-index : 1;

        position: absolute;

        width : 100%;
        height : 100%;

        background : rgba(45, 52, 54,0.7);


    }

    div.background {
        
        z-index : 0;

        width: 100%;
        height : 100%;

        position: relative;

        background-image : url('https://images.alphacoders.com/523/523115.jpg');
        background-repeat: no-repeat;
        background-size : 180%;
        background-position-y: 80%;

        transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
        
         

    }


    div.content {

        z-index : 80;
        width : 500px;
        height : 200px;
        position: absolute;
        top : 300px;
        left : 250px;
        text-align: center;
        line-height: 200px;
        font-family: 'Rubik Mono One', sans-serif;
        font-size : 1.5em;
        background : rgba(231, 76, 60,1.0);
        text-shadow: 0 0 5px rgba(44, 62, 80,0.4);
        color : white;
        overflow: inherit;


    }

    img.first-img-content {

        z-index : 80;
        width : 1062px;
        height : 1529px;

        transform: scale(1);
        position: absolute;

        transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);

    }

    img.second-img-content {

        z-index : 80;
        width : 715px;
        height : 982px;
        top : 200px;
        transform: scale(1.6);
        position: absolute;

        transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);


    }

    img.third-img-content {

        z-index : 80;
        width : 818px;
        height : 976px;
        
        transform: scale(1);
        position: absolute;

        transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);


    }

    .right-fade-out { right : -8000px; }
    .right-fade-in { right : 0px; }

    .right { right : 0px; }
    .left { left: 0px; }



}