/* Start Adjust Main Layout */

/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800'); */
@import url('https://fonts.googleapis.com/css?family=Prompt:300,400,600,700,800&display=swap');

* {    
    font-family:  'Prompt', sans-serif;
}

html {
    font-size: 14.3px;
}

h1 {
    font-size: 2.7rem;
}

html, body, .body {
    height: 100%;
}

.body {
    overflow-x: hidden;
}

.navbar-dark.bg-primary {
    background-color: #333333 !important;
}

.wrapper-all {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper-all .content {
    flex: 1 0 auto;
}

.wrapper-all footer {
    flex-shrink: 0;
}

@media (min-width: 1200px) {
    .container {
        min-width: 1180px;
    }

    .container.sport {
        max-width: 1024px;
    }
}

/* End Adjust Main Layout */

/* Start Helper */

.text-decoration-none,
.text-decoration-none:hover {
    text-decoration: none;
    color: inherit;
}

.full-width {
    width: 100% !important;
}

.pointer {
    cursor: pointer;
}

.resize-none {
    resize: none;
}

.bg-secondary a,
.bg-success a {
    color: white;
}

.required::after {
    content: " *";
    color: red;
    font-size: inherit;
}

/* End Helper */

/* Start adjust some bootstrap */

.alert.alert-topic h4.topic {
    margin-bottom: 0;
} 

.border-danger {
    border-color: #d02126;
}

.bg-danger,
.alert-danger,
.panel-danger {
    background-color: #d02126;
}

.modal-header button.close:hover {
    color: #333333 !important;
}

.dv-star-rating label {
    margin-bottom: 0;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.3);
}

option:disabled {
    color: #c4c4c4;
}

/* End adjust some bootstrap */

/* Adjust Map */

@media screen and (max-width: 767px) {
    .map {
        min-height: 320px;
    }
}

/* End Adjust Map */

/* Adjust image */

@media screen and (min-width: 768px) {

    .logo > img {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 768px) {
    

    .logo > img {
        width: 75px;
        height: 75px;
    }
}

@media screen and (min-width: 1024px) {
    .ads .carousel img {
        max-height: 470px;
    }
}

/* End Adjust image */

/* Adjust sport list scroll */

.nav.auto-scroll-x {
    overflow-x: auto;
}

.nav.auto-scroll-x::-webkit-scrollbar {
    height: 5px;
}

.nav.auto-scroll-x::-webkit-scrollbar-track {    
    background:  #d02126;
}

.nav.auto-scroll-x::-webkit-scrollbar-thumb {
    background: #a01d21;
    /* background: #f38488; */
    border-radius: 5px;
}

/* End adjust scroll */

/* Adjust fullcalendar */

.fc-scroller {
    overflow: hidden !important;
}

.fc-event.plusone-event {
    background-color: #d1272d;
    border-color: #a01d21;    
    font-size: 1em;
}

.fc-event.plusone-event .fc-content {
    color: #fff;
}


/* end Adjust fullcalendar */

/* Adjust Animated */

.animated.fill-mode-none {
    animation-fill-mode: none;
}

/* End Adjust Animated */

.bg-search,
.bg-search2 {
    height: 100%;
    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);
}

.bg-search {
    background: url('images/bg-search.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #464646;
}

.bg-search2 {
    background: url('images/bg-search2.png') center center #333333;
    background-blend-mode: overlay;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: space;
}