$baseHeight: 100px;

@media only screen and (max-width: 575px) {
    
    .img-court-list-item {        
        height: auto;
    }
}

@media only screen and (min-width: 576px) {
    
    .img-court-list-item {        
        height: $baseHeight * 1.8;
    }
}

@media only screen and (min-width: 768px) {
    
    .img-court-list-item {        
        height: $baseHeight * 1.1;
    }
}

